# Iterations and loops

## Factorial:

In [1]:
n=int(input("number:"))
F=1
while n>0:
    F=F*n
    n=n-1
print("output=",F)

number:5
output= 120

### Second form:

In [2]:
n=int(input("number:"))
F=1
i=1
while i<=n:
    F=F*i
    i=i+1
print("output=",F)

number:5
output= 120

## Sum of a seri

In [3]:
s=0
i=1
while i<=100:
    s+=1/i
    i+=1
print(s)

5.187377517639621

In [6]:
n=input("number:")
n=int(n)
i=1
while i<=n:
    if n%i==0:
        print(i)
    i+=1

number:5482
1
2
2741
5482

## Homework2

In [1]:
i=1
Sum=0
sgn=1
while i<=99:
    Sum+=i/(i+1)*sgn
    sgn*=(-1)
    i+=1
print(Sum)

0.6881721793101957

## Example 6

In [5]:
last=""
while True:
    st_no=input("Enter the student number:")
    if st_no=='0':
        break
    code=input("Male or female?m/f:")
    if code=='m':
        last=st_no
if last=="":
    print("all of the entered are women!")
else:
    print(last)

Enter the student number:123
Male or female?m/f:f
Enter the student number:234
Male or female?m/f:f
Enter the student number:456
Male or female?m/f:f
Enter the student number:0
all of the entered are women!

## Using "Continue"

In [1]:
Sum=0
while True:
    str1=input()
    if str1=="done":
        break
    if str1[0]=="*":
        continue
    print(str1)
    Sum+=1
print(Sum)

reza
reza
ali
ali
*ignore
mehri
mehri
alireza
alireza
done
4

In [2]:
Sum=0
while True:
    str1=input()
    if str1=="done":
        break
    if str1[0]!="*":
        print(str1)
        Sum+=1
print(Sum)

ali
ali
reza
reza
mina
mina
*saeed
*mejid
done
3

## Example9

In [3]:
avg=0
i=1
Sum=0
Max=0
Max_ind=0
while i<=12:
    cost=int(input("input the cost:"))
    Sum+=cost
    if Max<cost:
        Max=cost
        Max_ind=i
    i+=1
avg=Sum/12
print("The average=",avg)
print("The Max is:",Max)
print("Its number is:",Max_ind)

input the cost:1200
input the cost:230
input the cost:800
input the cost:1900
input the cost:2000
input the cost:255
input the cost:800
input the cost:900
input the cost:1000
input the cost:1200
input the cost:3400
input the cost:2300
The average= 1332.0833333333333
The Max is: 3400
Its number is: 11

In [4]:
Sum=0
Max=0
for i in [1,2,3,4,5,6,7,8,9,10,11,12]:
    cost=int(input("input the cost:"))
    Sum+=cost
    if Max<cost:
        Max=cost
        Max_ind=i
avg=Sum/12
print("The average=",avg)
print("The Max is:",Max)
print("Its number is:",Max_ind)

input the cost:1200
input the cost:1250
input the cost:3000
input the cost:3400
input the cost:2300
input the cost:1234
input the cost:5000
input the cost:123
input the cost:456
input the cost:12
input the cost:34
input the cost:54
The average= 1505.25
The Max is: 5000
Its number is: 7

## Example: Computing Student's Average

In [5]:
n=int(input("The number of Courses:"))
Sum=0
Sum_ng=0
for i in range(n):
    grade,ng=input("The grade and its number:").split()
    grade=float(grade)
    ng=int(ng)
    Sum+=grade*ng
    Sum_ng+=ng
avg=Sum/Sum_ng
print("Your average is:",avg)
if avg<12:
    print("Mashrout")
if avg>17:
    print("You are very clever!")

The number of Courses:4
The grade and its number:15.25 3
The grade and its number:17.50 2
The grade and its number:18 3
The grade and its number:20 2
Your average is: 17.475